.Song li {
  margin: 0 16px;
  display: flex;
}
.Song li p {
  flex-grow: 1;
  word-break: break-all;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Song li span {
  align-self: center;
  margin: 0 5px;
}
.Song li button {
  align-self: center;
  width: 25px;
  flex-shrink: 0;
}
.Song hr {
  margin: 8px 0;
}
