.Login {
  text-align: end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1vh;
}

.Login button {
  padding: 0 1em;
  margin-right: 1em;
}

/* Rounded sliders */
.Login .slider.round {
  border-radius: 34px;
}

.Login .slider.round:before {
  border-radius: 50%;
}
.Login .switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 16px;
  right: 0px;
}

/* Hide default HTML checkbox */
.Login .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.Login .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.Login .slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.Login input:checked + .slider {
  background-color: #2196f3;
}

.Login input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.Login input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}
