* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  text-align: center;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  width: 32%;
  min-width: 500px;
  margin: 0 auto;
  background-color: grey;
  padding: 0 1vw;
  height: 100vh;
}

@media screen and (max-width: 500px) {
  .container {
    width: 100%;
    min-width: 300px;
  }
}

#TopHead {
  font-size: 28px;
  font-weight: bold;
}

#ExtOpen {
  font-size: 10px;
}

#Player {
  padding: 1vh 0;
}

audio {
  width: 100%;
}
